* {
	font-family: Arial;
	box-sizing: border-box;
}

button {
	padding: 4px 10px;
}

body.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: 
	"login response response response"
	"query response response response"
	"links response response response"
	"umg umg gb gb"
	"results results results results";
}

.login {
	grid-area: login;
}

.query {
	grid-area: query;
}

.response {
	grid-area: response;
}

.umg {
	grid-area: umg;
}

.gb {
	grid-area: gb;
}

.links {
	grid-area: links;
}

.results {
	grid-area: results;
}

.results a {
	display: block;
	font-family: monospace;
}

.umg span {
	display: block;
	width: inherit;
}

.gb span {
	display: block;
	width: inherit;
}

#query {
	font-family: monospace;
}

#server-response {
	font-family: monospace;
	tab-size: 4;
	overflow-y: auto;
	overflow-x: auto;
	max-height: 500px;
	padding: 10px;
}

div.simple {
	border: 1px solid #bbb;
}

div.simple > h3 {
	padding: 10px;
	border-bottom: 1px solid #bbb;
	background: #ddd;
}

div.simple > div {
	padding: 10px;
}

div.simple > div > *:first-child {
	margin-top: 0;
}

div.simple > div > *:last-child {
	margin-bottom: 0;
}

div.simple > * {
	margin: 0;
}

.login-success {
	background: #efe;
}

.login-failure {
	background: #fee;
}

.loading {
	display: none;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

table {
	border-collapse: collapse;
}

table, th, td {
	padding: 5px;
	border: 1px solid black;
}

@keyframes spin {
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}